<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <!-- Optional theme -->
   
    
    <!-- I notice that the signup page only renders correctly when I import the bootstrap stylesheets manually
         rather than using the format below. Also, I'm not sure how to determine the order of the pages like 
         starting from the Login and then going to the home page, so hopefully you have better luck with it than I did. -->
    
@Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    @RenderBody()


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
