@model ACE_Web_Based_Learning_System.Models.User
    @{ 
        var userContent = Session["UserContent"] as ACE_Web_Based_Learning_System.Models.UserContent;
        var courses = Session["Courses"] as List<ACE_Web_Based_Learning_System.Models.Course>;
        var userColor = userContent.Color ?? "black";
    }
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.blue_grey-red.min.css" />

    <style>
        .userCard {
            display: flex;
            flex-direction: column;
            width: 300px;
            text-align: center;
            color: black;
            font-size: 18px;
        }

        .userInfo {
            display: flex;
            flex-direction: column;
            margin-bottom: 20px;
        }

        .dropdown-menu-center {
            right: auto;
            left: 17%;
            -webkit-transform: translate(-83%, 5%);
            -o-transform: translate(-83%, 5%);
            transform: translate(-83%, 5%);
        }

        .userButton {
            background-color: transparent;
            border-top-style: solid;
            border-width: 1px;
            padding-top: 10px;
            border-color: lightgray;
            margin-top: 10px;
            cursor: pointer;
        }

        .mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
            color: black !important;
        }
    </style>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header">
            <div class="mdl-layout__header-row">
                <!-- Title -->
                <span class="mdl-layout-title">ACE Web Based Learning System</span>
                <!-- Add spacer, to align navigation to the right -->
                <div class="mdl-layout-spacer"></div>
                <!-- Navigation. We hide it in small screens. -->
                <nav class="mdl-navigation mdl-layout--large-screen-only">

                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <span class="material-icons" style="color:@userColor">face</span>

                        </button>
                        <ul class="dropdown-menu dropdown-menu-center" aria-labelledby="dropdownMenu1">
                            <li>
                                <div class="userCard">
                                    <div class="userInfo">
                                        <span class="material-icons" style="font-size: 100px; color: @userColor ">face</span>
                                        <div> @Model.FirstName  @Model.LastName</div>

                                        <div style="color: gray"> @userContent.Email</div>
                                    </div>
                                    <div id="manageButton" class="userButton">
                                        Manage your account settings
                                    </div>
                                    <div id="signOutButton" class="userButton">
                                        Sign out
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </header>
        <div class="mdl-layout__drawer">
            <span class="material-icons" style="font-size: 100px; text-align:center;color: @userColor">face</span>
            <div style="text-align:center; padding-bottom: 20px;  border-bottom-style: solid; border-width: 1px"> @Model.FirstName  @Model.LastName</div>
            
            <nav class="mdl-navigation">
                @foreach (var course in courses)
                {
                    <a class="mdl-navigation__link" href="/Course/CourseView?courseNumber=@course.CourseNo"><span class="mdl-badge" data-badge="4">@course.CourseName</span></a>
                }





            </nav>
        </div>
        <main class="mdl-layout__content">
            <div class="page-content"> @RenderBody()</div>
        </main>
    </div>
   

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script>
        document.getElementById("manageButton").addEventListener("click", function () {


            window.location.href = "/User/UserSettings";



        });
        document.getElementById("signOutButton").addEventListener("click", function () {


            window.location.href = "/User/LoginPage";



        });
    </script>
</body>
</html>
